[Desktop Entry]
Version=1.0
Name=LapisLazuli
Comment= LiLLi P2P Cryptocurrency
Comment[fr]= LiLLi, monnaie virtuelle cryptographique pair à pair
Comment[tr]= LiLLi, eşten eşe kriptografik sanal para birimi
Exec=lapislazuli-qt %u
Terminal=false
Type=Application
Icon=pivx128
MimeType=x-scheme-handler/pivx;
Categories=Office;Finance;
StartupWMClass=LapisLazuli-qt
